In [107]:
import pandas as pd
data1 = pd.read_csv("/Users/anishjain/Downloads/covid_19_indonesia_time_series_all.csv",header=0,names = columns_list,index_col=False)
data1 = data1.set_index('Location')
data1.head()

/var/folders/pj/bb0blhm15x7dw5v23gt3sxvc0000gn/T/ipykernel_2480/3378551521.py:2: ParserWarning: Length of header or names does not match length of data. This leads to a loss of data with index_col=False.
  data1 = pd.read_csv("/Users/anishjain/Downloads/covid_19_indonesia_time_series_all.csv",header=0,names = columns_list,index_col=False)

,Date,Location_ISO_Code,New_Cases,New_Deaths,New_Recovered,New_Active_Cases,Total_Cases,Total_Deaths,Total_Recovered,Total_Active_Cases,...,Longitude,Latitude,New_Cases_per_Million,Total_Cases_per_Million,New_Deaths_per_Million,Total_Deaths_per_Million,Case_Fatality_Rate,Case_Recovered_Rate,Growth_Factor_of_New_Cases,Growth_Factor_of_New_Deaths
Location,,,,,,,,,,,,,,,,,,,,,
DKI Jakarta,3/1/2020,ID-JK,2,0,0,2,39,20,39,-20,...,106.836118,-6.204699,0.18,3.60,0.0,1.84,0.18,51.28%,100.00%,NaN
DKI Jakarta,3/2/2020,ID-JK,2,0,0,2,41,20,39,-18,...,106.836118,-6.204699,0.18,3.78,0.0,1.84,0.18,48.78%,95.12%,1.0
Indonesia,3/2/2020,IDN,2,0,0,2,2,0,0,2,...,113.921327,-0.789275,0.01,0.01,0.0,0.00,0.00,0.00%,0.00%,NaN
Riau,3/2/2020,ID-RI,1,0,0,1,2,0,0,2,...,101.805109,0.511648,0.16,0.33,0.0,0.00,0.00,0.00%,0.00%,NaN
DKI Jakarta,3/3/2020,ID-JK,2,0,0,2,43,20,39,-16,...,106.836118,-6.204699,0.18,3.96,0.0,1.84,0.18,46.51%,90.70%,1.0

In [119]:
import numpy as np
data1= data1.replace([np.inf, -np.inf], np.nan)
data1 = data1.fillna(0)
data1.head()

,Date,Location_ISO_Code,New_Cases,New_Deaths,New_Recovered,New_Active_Cases,Total_Cases,Total_Deaths,Total_Recovered,Total_Active_Cases,...,Longitude,Latitude,New_Cases_per_Million,Total_Cases_per_Million,New_Deaths_per_Million,Total_Deaths_per_Million,Case_Fatality_Rate,Case_Recovered_Rate,Growth_Factor_of_New_Cases,Growth_Factor_of_New_Deaths
Location,,,,,,,,,,,,,,,,,,,,,
DKI Jakarta,187,9,2,0,0,2,39,20,39,-20,...,106.836118,-6.204699,0.18,3.60,0.0,1.84,0.18,937,39,0.0
DKI Jakarta,209,9,2,0,0,2,41,20,39,-18,...,106.836118,-6.204699,0.18,3.78,0.0,1.84,0.18,828,5710,1.0
Indonesia,209,34,2,0,0,2,2,0,0,2,...,113.921327,-0.789275,0.01,0.01,0.0,0.00,0.00,0,0,0.0
Riau,209,24,1,0,0,1,2,0,0,2,...,101.805109,0.511648,0.16,0.33,0.0,0.00,0.00,0,0,0.0
DKI Jakarta,231,9,2,0,0,2,43,20,39,-16,...,106.836118,-6.204699,0.18,3.96,0.0,1.84,0.18,824,5267,1.0

In [120]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
def FunLabelEncoder(data1):
    for c in data1.columns:
        if data1.dtypes[c] == object:
            le.fit(data1[c].astype(str))
            data1[c] = le.transform(data1[c].astype(str))
    return data1

In [110]:
data1 = FunLabelEncoder(data1)
data1.info()
data1.iloc[235:300,:]

<class 'pandas.core.frame.DataFrame'>
Index: 20816 entries, DKI Jakarta to Sumatera Utara
Data columns (total 36 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Date                         20816 non-null  int64
 1   Location_ISO_Code            20816 non-null  int64
 2   New_Cases                    20816 non-null  int64
 3   New_Deaths                   20816 non-null  int64
 4   New_Recovered                20816 non-null  int64
 5   New_Active_Cases             20816 non-null  int64
 6   Total_Cases                  20816 non-null  int64
 7   Total_Deaths                 20816 non-null  int64
 8   Total_Recovered              20816 non-null  int64
 9   Total_Active_Cases           20816 non-null  int64
 10  Location_Level               20816 non-null  int64
 11  City_or_Regency              20816 non-null  float64
 12  Province                     20816 non-null  int64
 13  Country                      20816 non-null  int64
 14  Continent                    20816 non-null  int64
 15  Island                       20816 non-null  int64
 16  Time_Zone                    20816 non-null  int64
 17  Special_Status               20816 non-null  int64
 18  Total_Regencies              20816 non-null  int64
 19  Total_Cities                 20816 non-null  float64
 20  Total_Districts              20816 non-null  int64
 21  Total_Urban_Villages         20816 non-null  float64
 22  Total_Rural_Villages         20816 non-null  float64
 23  Area_(km2)                   20816 non-null  int64
 24  Population                   20816 non-null  int64
 25  Population_Density           20816 non-null  float64
 26  Longitude                    20816 non-null  float64
 27  Latitude                     20816 non-null  float64
 28  New_Cases_per_Million        20816 non-null  float64
 29  Total_Cases_per_Million      20816 non-null  float64
 30  New_Deaths_per_Million       20816 non-null  float64
 31  Total_Deaths_per_Million     20816 non-null  float64
 32  Case_Fatality_Rate           20816 non-null  float64
 33  Case_Recovered_Rate          20816 non-null  int64
 34  Growth_Factor_of_New_Cases   20816 non-null  int64
 35  Growth_Factor_of_New_Deaths  20816 non-null  float64
dtypes: float64(13), int64(23)
memory usage: 6.4+ MB

,Date,Location_ISO_Code,New_Cases,New_Deaths,New_Recovered,New_Active_Cases,Total_Cases,Total_Deaths,Total_Recovered,Total_Active_Cases,...,Longitude,Latitude,New_Cases_per_Million,Total_Cases_per_Million,New_Deaths_per_Million,Total_Deaths_per_Million,Case_Fatality_Rate,Case_Recovered_Rate,Growth_Factor_of_New_Cases,Growth_Factor_of_New_Deaths
Location,,,,,,,,,,,,,,,,,,,,,
Sulawesi Tenggara,221,27,0,0,0,0,3,0,9,-6,...,122.070311,-4.124689,0.00,1.14,0.00,0.00,0.00,0,928,1.00
Sumatera Selatan,221,30,0,0,0,0,1,2,1,-2,...,104.169465,-3.216212,0.00,0.12,0.00,0.24,0.02,532,39,1.00
Sumatera Utara,221,32,0,0,0,0,1,1,1,-1,...,99.051964,2.191894,0.00,0.07,0.00,0.07,0.01,210,39,1.00
Aceh,223,0,1,0,0,1,1,0,0,1,...,96.910522,4.225615,0.19,0.19,0.00,0.00,0.00,0,0,0.00
Bali,223,1,0,0,0,0,2,2,1,-1,...,115.131714,-8.369472,0.00,0.47,0.00,0.47,0.05,210,1709,1.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Jambi,227,6,0,0,0,0,1,0,0,1,...,102.723640,-1.697698,0.00,0.29,0.00,0.00,0.00,0,0,1.00
Jawa Barat,227,7,19,3,1,15,106,24,16,66,...,107.603708,-6.920432,0.42,2.35,0.07,0.53,0.05,548,264,1.19
Jawa Tengah,227,10,15,2,2,11,75,16,20,39,...,110.201115,-7.259097,0.41,2.06,0.05,0.44,0.04,536,763,1.88
Jawa Timur,227,8,14,2,2,10,97,40,205,-148,...,112.732941,-7.723346,0.35,2.40,0.05,0.99,0.10,820,577,4.67
Kalimantan Tengah,227,15,1,0,0,1,3,1,38,-36,...,113.417654,-1.602485,0.39,1.17,0.00,0.39,0.04,704,156,0.00

In [111]:
from sklearn.model_selection import train_test_split
Y = data1['New_Cases']
X = data1.drop(columns=['New_Cases'])
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.1, random_state=9)
print('X train shape: ', X_train.shape)
print('Y train shape: ', Y_train.shape)
print('X test shape: ', X_test.shape)
print('Y test shape: ', Y_test.shape)

X train shape:  (18734, 35)
Y train shape:  (18734,)
X test shape:  (2082, 35)
Y test shape:  (2082,)

In [112]:
from sklearn.tree import DecisionTreeClassifier

# We define the model
dtcla = DecisionTreeClassifier(random_state=None)

# We train model
dtcla.fit(X_train, Y_train)

# We predict target values
Y_predict = dtcla.predict(X_test)

In [123]:
Y_test

Location
Indonesia           8232
Sulawesi Utara        21
Riau                   1
DKI Jakarta          513
Bali                  33
                    ...
Jawa Tengah          118
Jawa Tengah          676
Sumatera Selatan      76
Jawa Tengah          293
Banten               220
Name: New_Cases, Length: 2082, dtype: int64

In [121]:
Y_predict

array([9687,   21,    1, ...,   73,  265,  176], shape=(2082,))

In [114]:
from sklearn.model_selection import train_test_split
Y1 = data1['New_Deaths']
X1 = data1.drop(columns=['New_Deaths'])
X1_train, X1_test, Y1_train, Y1_test = train_test_split(X1, Y1, test_size=0.1, random_state=9)
print('X train shape: ', X1_train.shape)
print('Y train shape: ', Y1_train.shape)
print('X test shape: ', X1_test.shape)
print('Y test shape: ', Y1_test.shape)

X train shape:  (18734, 35)
Y train shape:  (18734,)
X test shape:  (2082, 35)
Y test shape:  (2082,)

In [115]:
from sklearn.tree import DecisionTreeClassifier

# We define the model
dtcla = DecisionTreeClassifier(random_state=None)

# We train model
dtcla.fit(X1_train, Y1_train)

# We predict target values
Y1_predict = dtcla.predict(X1_test)

In [124]:
print(Y1_predict)
Y1_test

[267   0   0 ...   5  42   0]

Location
Indonesia           268
Sulawesi Utara        0
Riau                  0
DKI Jakarta          19
Bali                  0
                   ...
Jawa Tengah           7
Jawa Tengah           9
Sumatera Selatan      5
Jawa Tengah          42
Banten                0
Name: New_Deaths, Length: 2082, dtype: int64

In [116]:
df=X1_test
df

,Date,Location_ISO_Code,New_Cases,New_Recovered,New_Active_Cases,Total_Cases,Total_Deaths,Total_Recovered,Total_Active_Cases,Location_Level,...,Longitude,Latitude,New_Cases_per_Million,Total_Cases_per_Million,New_Deaths_per_Million,Total_Deaths_per_Million,Case_Fatality_Rate,Case_Recovered_Rate,Growth_Factor_of_New_Cases,Growth_Factor_of_New_Deaths
Location,,,,,,,,,,,,,,,,,,,,,
Indonesia,177,34,8232,7261,703,1322866,35786,1128672,158408,0,...,113.921327,-0.789275,31.04,4988.45,1.01,134.95,13.49,489,4700,0.97
Sulawesi Utara,611,25,21,18,3,4023,160,3030,833,1,...,124.521240,1.259638,7.95,1522.78,0.00,60.56,6.06,691,3689,21.00
Riau,251,24,1,1,0,15,3,2,10,1,...,101.805109,0.511648,0.16,2.47,0.00,0.49,0.05,518,173,1.00
DKI Jakarta,511,9,513,589,-95,30463,1022,20580,8861,1,...,106.836118,-6.204699,47.30,2808.65,1.75,94.23,9.42,628,2979,0.93
Bali,423,1,33,1,32,553,4,227,322,1,...,115.131714,-8.369472,7.83,131.16,0.00,0.95,0.09,30,1300,2.36
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Jawa Tengah,70,10,118,84,27,484830,30108,452750,1972,1,...,110.201115,-7.259097,3.24,13332.67,0.19,827.96,82.80,972,5536,1.30
Jawa Tengah,168,10,676,489,178,145832,6088,91855,47889,1,...,110.201115,-7.259097,18.59,4010.33,0.25,167.42,16.74,734,2603,0.78
Sumatera Selatan,131,30,76,48,23,10226,553,8493,1180,1,...,104.169465,-3.216212,9.25,1244.41,0.61,67.29,6.73,872,4476,1.17
Jawa Tengah,570,10,293,1913,-1662,478520,29630,439276,9614,1,...,110.201115,-7.259097,8.06,13159.14,1.15,814.82,81.48,970,5378,0.88
Banten,226,4,220,71,149,36083,949,33771,1363,1,...,106.109004,-6.456736,20.52,3365.21,0.00,88.51,8.85,481,5557,1.25

In [127]:
submission = pd.DataFrame({'New_Cases':Y_predict,'New_Deaths':Y1_predict})
               

#Visualize the first 100 rows
print(submission.head(100))

    New_Cases  New_Deaths
0        9687         267
1          21           0
2           1           0
3         551          18
4          33           0
..        ...         ...
95         64           6
96         11           0
97          5           0
98         87           0
99          0           0

[100 rows x 2 columns]

In [128]:
import numpy as np

# Example Data

# Compute MAPE
mape = np.mean(np.abs((Y1_test - Y1_predict) / Y1_test)) * 100
print(f"MAPE: {mape:.2f}%")

MAPE: 5.68%